<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 사용자 관리</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/admin/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<!-- Header -->
	<div th:replace="/admin/fragments/header.html :: fragment-header(${title})"></div>
	<section class="col-xl-10 col-lg-9 col-md-8 mt-6 ml-auto">
		<div class="container-fluid">
			<form id="adminForm" name="adminForm" class="form" th:action="@{/admin/admin/save}" method="post"
				enctype="multipart/form-data" th:object="${admin}" onSubmit="return checkEmailAndNameUnique(this)">
				<input type="hidden" name="adminId" th:value="${param.adminId}" />
				<div th:if="${param.adminId == null}" class="form-group row pb-3 position-relative">
					<label for="email" class="col-sm-3 col-form-label py-3">이메일</label>
					<div class="col-sm-9">
						<input type="email" th:field="*{email}" class="form-control py-3" placeholder="이메일" name="email">
					</div>
					<small>에러 메세지</small>
				</div>
				
				<div class="form-group row pb-3 position-relative">
					<label for="name" class="col-sm-3 col-form-label py-3">강사명</label>
					<div class="col-sm-9">
						<input type="text" th:field="*{name}" maxlength="12" class="form-control py-3" placeholder="강사명" name="name">
					</div>
					<small>에러 메세지</small>
				</div>
				
				<div th:if="${param.admin == null}" class="form-group row pb-3 position-relative">
					<label for="password" class="col-sm-3 col-form-label py-3">비밀번호</label>
					<div class="col-sm-9">
						<input type="password" th:field="*{password}" class="form-control py-3" placeholder="비밀번호" name="password" />
					</div>
					<small>에러 메세지</small>
				</div>
				
				<div th:if="${param.adminId == null}" class="form-group row pb-3 position-relative">
					<label for="passwordConfirm" class="col-sm-3 col-form-label py-3">비밀번호 확인</label>
					<div class="col-sm-9">
						<input type="password" class="form-control py-3" placeholder="비밀번호 확인" name="passwordConfirm">
					</div> 
					<small>에러 메세지</small>
				</div>
				
				<div class="form-group row pb-3 position-relative">
					<div style="width:100%">
						<div class="input row m-0" style="width:100%; padding:30px 0;">
							<input type="file" name="avatar" class="d-none" accept="image/*" id="avatar">
							<label for="avatar" class="image-button col-sm-3" style="margin-right: 15px; cursor:pointer;"><i class="far fa-image"></i> 이미지 선택</label>
							<img id="preview" class="img-fluid" alt="이미지 미리보기" style="width:100px; height:80px;" />
						</div>
					</div>
					<small>에러 메세지</small>
				</div>
				
				<div class="form-group row pb-3 position-relative">
					<label class="col-sm-3 col-form-label py-3">권한</label>
					<div class="col-sm-9 d-flex align-items-center">
						<th:block th:each="role : ${listRoles}">
							<input class="mr-1" type="checkbox" th:text=${role.roleName} th:value="${role.roleId}" name="roleId">
						</th:block>
					</div>
					<small>에러 메세지</small>
				</div>
				
				<div class="form-group row pb-3 position-relative">
					<label for="bio" class="col-sm-3 col-form-label py-3">소개</label>
					<div class="col-sm-9">
						<textarea th:value="${bio}" class="form-control py-3" placeholder="소개" name="bio"></textarea>
					</div> 
					<small>에러 메세지</small>
				</div>
			
				<div class="form-group row">
					<div class="col-sm-12">
						<div class="btn-group d-flex justify-content-end mb-3" role="group">
							<button th:text="${param.adminId == null} ? '등록' : '수정'" type="submit" class="button button--purple mr-2"></button>
							<button type="button" class="button button--light" onclick="javascript:history.back()">취소</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody">
					</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	
		$(document).ready(function() {
			$("#avatar").change(function() {
				fileSize = this.files[0].size;
				if (fileSize > 1024*1024) {
					alert("1MB이하의 파일만 업로드 해주세요.")
					this.setCustomValidity("1MB이하의 파일만 업로드 해주세요.");
					this.reportValidity();
				} else {
					this.setCustomValidity("");
					showImagePreview(this);
				}
			});
		});
		
		function showImagePreview(fileInput) {
			var file = fileInput.files[0];
			var reader = new FileReader();
			reader.onload = function(e) {
				$("#preview").attr("src", e.target.result);
			};
			reader.readAsDataURL(file);
		}
	
		function checkEmailAndNameUnique(form) {
			if ("[[${admin.adminId}]]") return true;
			url = "[[@{/admin/admin/check_email}]]";
			adminEmail = $("#email").val();
			adminName = $("#name").val();
			data = {email: adminEmail, name: adminName};
			$.post({
				url,
				data,
				success: function(response) {
					if (response == 'yes') {
						form.submit();
					} else if (response == "em") {
						showModalDialog("이메일 중복", adminEmail +"은 이미 사용중인 이메일입니다.");
					} else if (response == "na") {
						showModalDialog("강사명 중복", adminName +"은 이미 사용중인 이름입니다.");
					} else {
						showModalDialog("에러", "오류가 발생했습니다. 다시 시도해주세요.");
					}
				},
			})
			
			return false;
		}
		
		function showModalDialog(title, message) {
			$("#modalTitle").text(title)
			$("#modalBody").text(message)
			$("#modalDialog").modal();
		}
	</script>
</body>
</html>