<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 문의 관리</title>
	<!-- <link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" /> -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/admin/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="/admin/fragments/header.html :: fragment-header(${title})"></div>
	
	
	
	
	
	
	
	<section class="col-xl-10 col-md-9 ml-auto courseForm--section">
		<h2><i class="fas fa-pen" style="color:#eb2f64"></i>&nbsp;답변 등록</h2>
		<form class="form-group row" th:action="@{/admin/inquiry/management/form/save}" method="post">
			<input name="inquiryId" th:value="${inquiryId}" hidden/>
			<div class="col-12 p-0">
				<input type="text" th:value="${title}" class="form-control py-3 post-form__title py-3" placeholder="제목" name="title">
			</div>
			<small class="error" style="z-index:10;"></small>
					
			<div class="col-sm-12 p-0">
				<textarea id="summernote" th:value="${content}" class="form-control py-3" name="content" rows="15" placeholder="내용을 입력해주세요"></textarea>
			</div> 
			<small></small>
			
			<div class="btn-group d-flex justify-content-end mt-3 w-100">
				<button th:text="등록" type="submit" class="button button--purple mr-2"></button>
				<button type="button" class="button button--light" onclick="javascript:history.back()">취소</button>
			</div>
		</form>
						

	</section>
	

	
</body>
</html>