<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 문의 답변 상세보기</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<div th:replace="/admin/fragments/header.html :: fragment-header(${title})"></div>
	<section class="col-xl-10 col-lg-9 col-md-8 mt-6 ml-auto">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<table class="table table-bordered table-striped">
						<tr>
							<th class="text-center">강의</th>
							<td>[[${question.courseTitle}]]</td>
						</tr>
						<tr>
							<th class="text-center">질문</th>
							<td>[[${question.questionTitle}]]</td>
						</tr>
						<tr>
							<th class="text-center">작성자</th>
							<td>[[${question.userName}]]</td>
						</tr>
						<tr>
							<th class="text-center">작성일</th>
							<td>[[${question.createdAt}]]</td>
						</tr>
						<tr>
							<th class="text-center" colspan="2">내용</th>
						</tr>
						<tr>
							<td colspan="2">[[${question.content}]]</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<!-- .center-block 사용시 해당 블락의 크기를 지정하자 -->
					<ul id="pillMenu" class="nav nav-pills center-block" style="width: 200px; margin-bottom: 10px">
						<sec:authentication property="principal.username" var="username" />
						<li><a href="javascript:isDelete();" class="btn btn-success">삭제</a></li>

						<li><a th:href="@{/admin/answer/management}" class="btn btn-success">목록</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</body>
<script>
	function isDelete() {
		if (confirm("정말로 삭제 할래?")) {
			location.replace("deleteone?no="+[[${question.questionId}]]);
		}
	}
</script>

</html>