.signin {
  background-color: #1e1e1e;
  padding-top: 7rem;
  height: 100%;
  min-height: 100vh;
}

.signin__container {
  margin: 0 auto;
  width: 55rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin__container .signin__title {
  padding-top: 12rem;
  padding-bottom: 4.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.form__group {
  width: 100%;
  height: 60px;
  margin-bottom: 6.6rem;
}

.form__group .form__input {
  outline: 0;
  height: 90px;
  padding: 2rem 2.5rem;
  background-color: transparent;
  border: 1px solid #383a43;
  border-radius: 6px;
  font-size: 2.4rem;
  color: #fff;
}

.form__group .form__input.error {
	border-color: #ff9300 !important;
}

.form__inner {
  margin-bottom: 5rem;
}

.form__group .form__input:focus {
  box-shadow: none;
}

.form__group .form__input::placeholder {
  color: #777;
  font-size: 2rem;
}

.form__group .labe__text {
  color: #fff;
  font-size: 1.6rem;
  padding-top: 4rem;
}

.form__group label {
  color: #fff;
  display: inline-block;
  margin-top: .5rem;
  font-size: 14px !important;
}

.form__group label.error {
	color: #ff9300 !important;
}

.signin .signin__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 10px;
  color: #fff;
}

.signin .signin__link span {
  color: #777;
}

.signin .signin__link a {
  cursor: pointer;
}

.signin .signin__toSignup {
  padding-top: 6rem;
  cursor: pointer;
  color: #777;
  margin-bottom: 6rem;
  text-decoration: underline;
  font-size: 1.5rem;
}

.signin .signin__toSignup>span {
  color: #f3981c;
}

.confirm__text {
  font-size: 1.6rem;
  color: #0fd;
  margin-bottom: .8rem;
}

@media (max-width: 992px) {
  .form__group label {
    font-size: 1.6rem !important;
  }
  
  .button--margin {
  	margin-top: 20rem !important;
  }
}

@media (max-width: 768px) {
  .form__group {
    margin-bottom: 8rem;
  }

  .signin__container .signin__title {
    font-size: 3rem;
  }

}

@media (max-width: 576px) {

  .signin__container,
  .signup__confirm {
    width: 90%;
  }

  .form__group {
    margin-bottom: 5rem;
  }

  .form__group .form__input {
    height: 70px;
    padding: 2rem;
  }

}

/* Reset Password */
.text--phone {
	color: #ff9300;
	font-size: 1.4rem;
}

.select--phone {
	border: none;
	background-color: transparent;
	color: #0fd;
	height: 5rem;
	font-size: 1.6rem;
	border: 1px solid #383a43;
	padding: 0 1rem;
}

.select--phone:focus {
	background-color: transparent;

}

.input--phone {
	border: none;
	border: 1px solid #383a43;
	background-color: transparent; 
	height: 5rem;
	width: 8rem;
	color: #0fd;
	font-size: 1.6rem;
	padding: 0 1rem;
	
}

.button--phone {
	background-color: #ff9300;
	color: #fff;
	border: none;
	height: 5rem;
	font-size: 1.4rem;
	margin-left: 2rem;
	border-radius: 4px;
}

.confirm--phone {
	border: none;
	background-color: transparent;
	color: #fff;
	border-bottom: 5px solid #383a43;
	font-size: 1.6rem;
	padding: 1rem 0;
}

.button--margin {
	margin-top: 20rem;
}