<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<!-- 메인 섹션 시작 -->
	<div th:fragment="fragment-mypage">
		<div class="dashboard__common">
			<div class="common__left">
				<input id="userImage" type="file" accept="image/*" name="file" style="display: none;" />
				<label class="position-relative rounded-circle" for="userImage">
					<img th:if="${member.AVATAR == null}" id="userImg" th:src="@{/images/image4.jpg}" alt="프로필 이미지" />
					<img th:if="${member.AVATAR != null}" id="userImg" th:src="@{/upload/}+${member.AVATAR}"
						alt="프로필 이미지" />
					<i class="fa fa-plus-circle"></i>
				</label>
			</div>
			<h1 class="common__middle" th:text="${member.USERNAME}"></h1>
			<div class="common__vertical"></div>
			<div class="common__right row m-0">
				<div class="right__box col-6">
					<h4>수강 중인 코스</h4>
					<span>[[${paymentCount}]]</span>
				</div>
				<div class="right__box col-6">
					<h4>수강 만료 코스</h4>
					<span>0</span>
				</div>
				<div class="right__box col-6">
					<h4>나의 질문</h4>
					<span>[[${questionCount}]]</span>
				</div>
				<div class="right__box col-6">
					<h4>나의 댓글</h4>
					<span>[[${commentsCount}]]</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			var imgname = "[[${member.AVATAR}]]";
			//console.log("userId:", "[[${member.AVATAR}]]");
			$('#userImage').change(function (e) {
				if($('#userImage')[0].files[0]==null) return;
				var file = $('#userImage')[0].files[0];
				var formData = new FormData();
				formData.append('userId', 1);
				formData.append('file', file);
				formData.append('imgname', imgname);

				$.ajax({
					url: '/personal/dashBoard/profileImgUpdate',
					processData: false,
					contentType: false,
					data: formData,
					type: 'POST',
					success: function (result) {
						if (result == 0) {alert("업로드 실패")}
						else if (result == 1) {
							//console.log("파일!!!!!!!!",file)
							var reader = new FileReader();
							reader.onload = function (e) {
								$('#userImg').attr('src', e.target.result);
							};
							reader.readAsDataURL(file);
						}
						else if (result == -1) {alert("프로필사진입니다 이미지파일만 올려주세요")}
						else if (result == -2) alert("이미지 용량이 너무커요!");
						alert("업로드 성공!!");
					},
					error: function () {
						alert('업로드에 실패했어요');
					}

				});
			}); 
		});

	</script>