@charset "UTF-8";

.container--admin {
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-primary--1 {
	color: #eb2f64;
}

.sidebar {
	height: 100vh;
	margin-top: 80px;
	background-color: #333;
	box-shadow: 5px 7px 25px #999;
}

.sidebar-link {
	position: relative;
	z-index: 10;
}

.nav-item {
	position: relative;
	z-index: 10;
}

.nav-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	border-radius: 7px;
	background-color: #eb2f64;
	transform: scaleY(0);
	transition: transform .2s,
	            width .4s cubic-bezier(1,0,0,1) .2s,
	            background-color .1s;
}

.nav-item:not(.current):hover::before {
	transform: scaleY(1);
	width: 100%;
}

.current {
	background-color: #eb2f64;
	border-radius: 7px;
	box-shadow: 2px 5px 10px #111;
	transition: all .3s;
}

.brand {
	position: absolute;
	top: -86px;
	right:0;
	background-color: #41444b;
}

.top-navbar {
	line-height: 40px;
	height:80px;
	border-bottom: 1px groove #eee;
}

@media (max-width: 768px) {
	.sidebar {
		height: auto;
	}

  	.top-navbar {
    	position: static;
  	}
}
