<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 카탈로그 제목</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>

	<!-- 강의 상세보기 시작 -->
	<section class="detail">
		<div class="detail__header">
			<h1 class="text-style-2"> [[${course.TITLE}]] </h1>
			<span>[[${course.SHORT_DESCRIPTION}]]</span>
		</div>
		<div class="container-fluid container--main">
			<div class="row" style="padding-bottom: 10rem; ">
				<!-- 좋아요 -->
				<div class="col-md-9 detail__left">
					<button class="detail__like" id="likeCount"><i class="far fa-thumbs-up">
						</i>[[${course.LIKE_COUNT}]]</button>
					<div class="detail__info">


						<!-- 강의가격 -->
						<div class="detail__price">
							<span>[[${course.PRICE}]]</span>&nbsp;<span>원</span>
						</div>

						<!-- 상세목록 -->
						<div class="row info__header">
							<div class="col-3 detail__text detail__text--1 p-0">수강기간</div>
							<div class="col-3 detail__text detail__text--1 p-0">난이도</div>
							<div class="col-3 detail__text detail__text--1 p-0">수업인덱스</div>
							<div class="col-3 detail__text detail__text--1 p-0">학습시간</div>
						</div>

						<!-- 수강기간 -->
						<div class="row detail__body">
							<div class="col-3 p-0 d-flex justify-content-center align-items-center flex-column">
								<span style="color: rgb(145, 145, 145); font-size: 1.4rem">결제일로부터</span><span
									class="detail__text detail__text--2">[[${course.PERIOD}]]</span>
							</div>

							<!-- 난이도 -->
							<div class="col-3 p-0 d-flex justify-content-center align-items-center flex-column">
								<div style="position: relative; top: -20px;">
									<i th:if="${course.DIFFICULTY == '쉬움'}" class="fas fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '쉬움'}" class="far fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '쉬움'}" class="far fa-circle"></i>

									<i th:if="${course.DIFFICULTY == '보통'}" class="fas fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '보통'}" class="fas fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '보통'}" class="far fa-circle"></i>

									<i th:if="${course.DIFFICULTY == '어려움'}" class="fas fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '어려움'}" class="fas fa-circle"></i>
									<i th:if="${course.DIFFICULTY == '어려움'}" class="fas fa-circle"></i>

								</div>
								<span style="position: absolute; bottom: 25px;"
									class="detail__text detail__text--2">[[${course.DIFFICULTY}]]</span>
							</div>

							<!-- 수업인덱스 -->
							<div class="col-3 p-0 d-flex justify-content-center align-items-center flex-column">
								<span style="color: rgb(145, 145, 145); font-size: 1.4rem">강의 영상</span>
								<span class="detail__text detail__text--2">[[${course.VIDEO_COUNT}]]개의 영상</span>
							</div>

							<!-- 학습시간 -->
							<div class="col-3 p-0 d-flex justify-content-center align-items-center flex-column">
								<span style="color: rgb(145, 145, 145); font-size: 1.4rem">총</span>
								<span id="length"
									class="detail__text detail__text--2">[[${course.COURSE_LENGTH}]]</span>
							</div>
							
							<script>

								//좋아요 기능구현
								var likeCount = Number.parseInt($('.detail__like').text());

								var likeCheck = "[[${course.likeCheck}]]";
								console.log('likeCheck', likeCheck);
								
								
								$(document).ready(function () {
									if (likeCheck == 1) {
										console.log('기존에 좋아요 눌렀을때');
										$('#likeCount').html('<i class="fas fa-thumbs-up" ></i>' + likeCount);
										$('#likeCount').prop("style", "color: rgb(0, 255, 255); border-color:rgb(0, 255, 255); ");


									}
									else {
										console.log('기존에 좋아요 눌르지 않았을때');
										$('#likeCount').html('<i class="far fa-thumbs-up"></i>' + likeCount);
										$('#likeCount').prop("style", "color: gray;");
									}

								});

								// var memberId = "[[${#authentication.principal}]]" == "anonymousUser"
								var courseId = "[[${course.COURSE_ID}]]";
								console.log("courseId:", courseId);


								$('.detail__like').click(function () {
									// var data = { 'memberId' : memberId, 'courseId' : courseId };
									var data = {'courseId': courseId};
									console.log(JSON.stringify(data));

									$.ajax({

										url: "[[@{/catalog/count_like}]]",
										type: "post",
										data: JSON.stringify(data),//courseId=1
										contentType: "application/json",
										success: function (data) {
											console.log("data:", data)
											if (data == 0) {//기존에 좋아요 누른적이 없을때
												likeCount++;
												console.log("likeCount:", likeCount);
												$('#likeCount').html('<i class="fas fa-thumbs-up" ></i>' + likeCount);
												$('#likeCount').prop("style", "color: rgb(0, 255, 255); border-color:rgb(0, 255, 255); ");

											}
											else if (data == 1) {////기존에 좋아요를 눌렀놨을때
												likeCount--;
												console.log("likeCount:", likeCount);
												$('#likeCount').html('<i class="far fa-thumbs-up"></i>' + likeCount);
												$('#likeCount').prop("style", "color: gray;");

											}
											else if (data == 2) {
												console.log("로그인상태 아님 ");
												if(confirm("로그인 후 이용가능\r\r로그인 페이지로 이동하시겠습니까?")){
													location.href = "/auth/signin";//뒤로가기 가능
													//location.replace("/auth/signin"); //뒤로가기 불가능
												}
												return;
											}

										}

									})
								})


								//강의시간(초)를 시간/분으로 변경
								var courseLength = $('#length').text();
								console.log("length:", courseLength);
								var courseTime = Math.ceil(courseLength / 60);
								console.log("courseTime:", courseTime);
								$('#length').text(Math.floor(courseTime / 60) + "시간" + (courseTime % 60) + "분");
								
							 
						
							 
							 
							</script>


						</div>
						<span th:if="${course.checkPayment}=='0'">
						<a  th:href="@{/orders/payments/}+${course.COURSE_ID}" class="button button--cover button--full">
							등록하기
						</a>
						
						</span>
						<span th:if="${course.checkPayment}=='1'">
						<a  th:href="@{/personal/dashboard}" class="button button--cover button--full">
							강의 보러가기
						</a>
						</span>
						
						<span th:if="${course.checkPayment}=='2'">
						<a  id="notLogin" class="button button--cover button--full">
							등록하기
						</a>
						</span>
						<script>
							 $('#notLogin').click(function(){
								if(confirm('로그인 후 이용 가능합니다')){
									location.href = "/auth/signin";
								}
								return;
							});
						 </script>
						
					
						
						
						
					</div>
					<div class="description">

						<p th:utext="${course.DESCRIPTION}"></p>

				     </div>
                </div>
                <div class="col-md-3 detail__right p-0 d-flex flex-column align-items-center">
                    <img th:if="${course.AVATAR == null}" th:src="@{/images/image4.jpg}" class="detail__profile" />
                    <img th:if="${course.AVATAR != null}" th:src="@{${course.PATH}}" class="detail__profile" />
                    <h4>[[${course.EMAIL}]]</h4>
                    <ul class="detail__history">
                        <li class="history__item">[[${course.BIO}]] /</br> 바삭코딩 팀   [[${course.ADMIN_NAME}]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

	<section class="curriculum">
		<div class="container-fluid container--main">
			<h1 class="detail__title">커리큘럼</h1>
			<div class="accordion curriculum__accordion" id="accordionExample">
			
				<div th:each="curriculum ,i : ${curriculums}" class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
						
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
								th:attr="data-target='#collapse'+${i.index}+'curri'" aria-expanded="true" aria-controls="collapseOne">
								<span th:if="${i.index+1}<10" th:text=" '0'+${i.index+1}" class="curriculum__number"></span>
								<span th:if="${i.index+1}>=10" th:text=" ${i.index+1}" class="curriculum__number"></span>
								<span class="curriculum__subTitle">[[${curriculum.name}]]</span>
								<span><i class="fas fa-chevron-right"></i></span>
							</button>
						</h2>
					</div>

					<div  th:id="'collapse'+${i.index}+'curri'" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div  class="card-body">
							<div  th:each="video : ${curriculum.videos}" class="card__video">
								<span class="video__icon"><i class="fab fa-youtube"></i></span>
								<span class="video__text">[[${video.videoTitle}]]
									
								</span>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	<!-- 강의 상세보기 끝 -->
	<!-- 강의 후기작성 버튼-->
	<section class="review">
		<div class="container-fluid container--main">
			<h1 class="detail__title d-flex justify-content-between align-items-center">강의후기 
			총 [[${reviewCount}]]건
				<button id="reviewWrite" class="button--square review__button" data-target="#reviewModal">
				후기	작성하기</button>
			</h1>
				<p th:if="${reviewCount==0}" th:text="${notPost}" style="color: white; font-size: 20px"> </p>
	
	<!--강의후기 내용들 뿌려주기-->

			<ul class="review__list row m-0 justify-content-between">
				<li th:each="review : ${reviewList}" class="review__card col-md-6">
					<div  class="review__header">
						<div class="review__user">
							<img th:if="${review.AVATAR} != null" th:src="@{${review.MEMBER_PATH}}" alt="사용자 이미지" />
							<img th:if="${review.AVATAR} == null" th:src="@{/images/image4.jpg}" alt="사용자 이미지" />
							<div class="review__ubox">
								<p>[[${review.NAME}]]</p>
								<span id="postDate" class="review__date">[[${review.POSTDATE}]]</span>
							</div>
						</div>

			<!--별점 갯수별로 뿌려주기 -->			
			<div th:with="rating=${review.RATING}" class="review__rating">
				<i th:unless="${review.RATING}==0" th:each="num: ${#numbers.sequence(1,rating)}" class ="fas fa-star"></i><i th:unless="${review.RATING}==5" th:each="num: ${#numbers.sequence(4,rating)}" class ="far fa-star"></i>
			</div>
			
					</div>
					
					<div class="review__description">
						[[${review.CONTENT}]]
					</div>
				</li>

			</ul>
		</div>
	</section>


	<!-- FAQ -->
	<section class="faq">
		<div  class="container-fluid container--main">
			<h1 class="detail__title">FAQ</h1>
			<div   class="accordion curriculum__accordion" id="accordionFAQ">
			
			
				<div  th:each='faq,i : ${faqList}' class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
								th:attr="data-target='#collapse'+${i.index}" aria-expanded="true" aria-controls="collapseOne">
								<span th:if="${i.index+1}<10" th:text=" '0'+${i.index+1}" class="curriculum__number"> </span>
								<span th:if="${i.index+1}>=10" th:text=" ${i.index+1}" class="curriculum__number"> </span>
								
								<span class="curriculum__subTitle"> [[${faq.TITLE}]]</span>
								<span><i class="fas fa-chevron-right"></i></span>
							</button>
						</h2>
					</div>

					<div th:id="'collapse'+${i.index}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ">
						<div class="card-body faq__body">
							<div class="faq__box">
								<span th:if="${faq.CONTENT!=null}" th:text="${faq.CONTENT}" class="faq__text">
									
								</span>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button"
								data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
								aria-controls="collapseTwo">
								<span class="curriculum__number">02</span>
								<span class="curriculum__subTitle">Collapsible Group Item #2</span>
								<span><i class="fas fa-chevron-right"></i></span>
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
						<div class="card-body faq__body">
							<div class="faq__box">
								<span class="faq__text">Some placeholder content for the first
									accordion panel.
									<code>.show</code> class.
								</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button"
								data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
								aria-controls="collapseThree">
								<span class="curriculum__number">03</span>
								<span class="curriculum__subTitle">Collapsible Group Item #3</span>
								<span><i class="fas fa-chevron-right"></i></span>
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
						<div class="card-body faq__body">
							<div class="faq__box">
								<span class="faq__text">Some placeholder content for the first
									accordion panel.
									<code>.show</code> class.
								</span>
							</div>
						</div>
					</div>
				</div>
				-->
				
			</div>
		</div>
	</section>
	

	<!-- 폼 모달 -->
	<div class="modal fade" id="reviewModal">
		<div class="modal-dialog fModal__dialog">
			<div class="modal-content fModal__body">
				<div style="margin-top: 10px;" class="modal-header fModal__header">
					<h3>후기 작성 <span style="color: red;">[200자 이내로 작성] </span></h3>
					<button  type="button" class="modal_close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div id="modal_box" class="modal-body p-0">
					<div  class="fModal__box">
						<form >

							<textarea id="content" class="form-control" placeholder="후기를 작성해주세요."></textarea>
							<span id="selectStar" class="rating mt-3">
								<input type="radio" class="rating-input" id="rating-input-5" name="rating-input" />
								<label for="rating-input-5" class="rating-star"></label>
								<input type="radio" class="rating-input" id="rating-input-4" name="rating-input" />
								<label for="rating-input-4" class="rating-star"></label>
								<input type="radio" class="rating-input" id="rating-input-3" name="rating-input" />
								<label for="rating-input-3" class="rating-star"></label>
								<input type="radio" class="rating-input" id="rating-input-2" name="rating-input" />
								<label for="rating-input-2" class="rating-star"></label>
								<input type="radio" class="rating-input" id="rating-input-1" name="rating-input" />
								<label for="rating-input-1" class="rating-star"></label>
							</span>
						</form>
						<div class="flex__end">
							<button id="reviewComplete" class="button--square mt-5">후기 작성</button>
							<button th:if="${course.reviewCheck}==1" id="reviewDelete" class="button--square mt-5" style="background-color: red;">삭제 </button>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 폼 모달 끝 -->

	<!-- footer -->
	<div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>

	<script>



	
			var reviewCheck = "[[${course.reviewCheck}]]";
										
				$(document).ready(function(){
					if(reviewCheck==1){
							$('#reviewWrite').text("후기 수정하기");	
							$('#reviewComplete').text("수정하기");	
							
								
						}
				})
				
				
			
				
									
				$('#reviewWrite').click(function(){
					var data = {'courseId':courseId}
					var selectedStar;

					
				// 모달 창 닫기 버튼 클릭 시 값 초기화
   				$('#reviewModal').on('hidden.bs.modal', function (e) {
  				  $(this).find('form')[0].reset();
					});
					
				
				$.ajax({
					
						url: "[[@{/catalog/reviewWrite}]]",
						type: "POST",
						data: JSON.stringify(data),//courseId=1
						dataType:"json",
						contentType: "application/json",
						success: function (data) {				
							
						
							if (data.affected == 0) {//로그인 후 미결제된 아이디
									console.log("로그인 후 강의결제 완료하지않은 아이디");
									if(confirm("강의 등록 후 이용가능\r\r강의등록 페이지로 이동하시겠습니까?")){
									location.href = "/orders/payments/"+courseId+"";//결제 페이지로 이동
									
									}//if
									else{
									console.log("결제 안된 아이디");
									$('#reviewModal').modal('hide');
									}
							
								
							}//바깥 if
							else if (data.affected == 1) {////로그인 후 결제완료된 아이디
							
								console.log("로그인 후 결제 완료하고 리뷰 작성한 아이디");
								$('#reviewModal').modal({backdrop: 'static'}) ;
								$('#reviewModal').modal('show');
								$('#content').text(data.reviewContent);
								$('input[id="'+data.star+'"]').each(function() {
    							$(this).prop('checked', true);
    							
								});
								
								}
								
							else if(data.affected==2){//앞전 글이 등록 돼있지 않을때
								console.log('신규 리뷰 등록자')
									
								//모달창 esc버튼 혹은 바깥화면 클릭했을때 창 닫히는거 막음 (이거있음 modal.('hide'))
								$('#reviewModal').modal({backdrop: 'static'}) ;
								$('#reviewModal').modal('show');
								
								}
							
							
							
							else if (data.affected == 3) {//로그인 안된 아이디
								if(confirm("로그인 후 이용가능\r\r로그인 페이지로 이동하시겠습니까?")){//컨펌 확인 눌렀을때
									location.href = "/auth/signin";//로그인창으로 페이지 이동
								}//if
								else{//취소 버튼 눌렀을시
									console.log("취소버튼누름");
									$('#reviewModal').modal('hide');
								
								}
								
							}//else if 
							
						}//success
						
					})//ajax
		
				});//clickWrite
				
		
				
				
		
				if ( !($("input:radio[name=rating-input]").is(":checked")) ){
					///이전 강의 후기 등록된 사람이 별표 안찍었을때 기존 찍혀있던 별표값 받아오기
					selectedStar="[[${course.star}]]";
					console.log("이전 강의후기 등록된사람 별표 안찍었을때 selectedStar:",selectedStar);
				}
				
				
				//별점 눌렀을때
				$("input.rating-input").click(function () {
				name = $(this).attr('name');
				$("input[name='" + name + "']").val(""); // remove value from all radio's (with this name)
				$("input[name='" + name + "']:checked").val($(this).attr('id')); // add value to checked radio
				// console 참고
				//console.log($("input[name='" + name + "']:checked").val())
				selectedStar = $("input[name='" + name + "']:checked").val();
				console.log("selectedStar찍었을때:",$("input[name=rating-input]:checked").val());
				console.log($('input:radio[name=rating-input]').is(':checked'));
				
				
				});//clickStar
					
				
			
				
								
			
				//후기작성 완료버튼 눌렀을때
				$("#reviewComplete").click(function(){
			
				
				var content= $('#content').val();
					
					if(content==""){
					alert("내용을 입력해주세요");
					$('#content').focus();	
					
					return;
					}	
					
					if (!($("input:radio[name=rating-input]").is(":checked"))){
					alert("별점을 선택해주세요");
					}
			
				
				
				var data = {'courseId':courseId,'content':content ,"selectedStar":selectedStar};
						
				
				
				console.log("data:",JSON.stringify(data));			
				
				
				
					$.ajax({

						url: "[[@{/catalog/reviewInsert}]]",
						type: "post",
						data: JSON.stringify(data),//courseId=1
						contentType: "application/json",
						success: function (data) {
							console.log("컨트롤로에서 넘어온 데이터값:",data)
						
						if(data.affected==4){//이전에 등록된 글이 없을경우
							
							if(confirm("강의후기 등록하시겠습니까?")){
								
							location.reload();
							}
							else {
								$('#reviewModal').modal('show');
									
							}
									
						}
					   else if(data.affected=5){//이전에 등록된 글이 있을경우
													
							if(confirm("강의후기 수정하시겠습니까?")){
						
							location.reload();
								
							}
							else{
								$('#reviewModal').modal('show');	
								
								} 
									
							}
							
							
							
					
							
						}//success

					})//ajax	
					
							
				});//reviewComplete
			
			
					//강의 후기 삭제 버튼 클릭시
					$('#reviewDelete').click(function(){
					var result=confirm("정말 삭제하시겠습니까?");
					
					if(!result){
						return;
					}	
					else{
						alert("해당 게시글이 삭제됐습니다.");
					
					}	
						var data = {'courseId':courseId}
						
						
						$.ajax({
					
						url: "[[@{/catalog/reviewDelete}]]",
						type: "POST",
						data: JSON.stringify(data),//courseId=1
						dataType:"json",
						contentType: "application/json",
						success: function (data) {				
							
							if(data==1){
								location.reload();
							}
							
					
						}//success
						
					})//ajax
						
					});//reviewDelete
				
			
		


	</script>
</body>

</html>