<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 카탈로그</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
  	<style>
  	
  	</style>
</head>

<body>
   	<!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>
	
    <!-- lecture 시작 -->
    <section class="catalog">
        <div class="container-fluid container--main d-flex flex-column align-items-between">
            <h1 class="catalog__header">Basic Courses</h1>
            <hr class="catalog__hr" />

            <ul class="row p-0" style="list-style: none;">
                <li th:each="course : ${courseList}" class="col-lg-4 col-md-6 col-sm-6 lecture__item">
                    <div style="position: relative;"  class="lecture-wrapper">
                        <div class="lecture-profile" style="background-image: url(/images/image10.jpg);"></div>
                                                                                                              
                        <a th:href="@{/catalog/}+${course.COURSE_ID}">

                        
                            <div class="card lecture" >
                               
                                <img th:src ="@{${course.PATH}}" class="card-img-top lecture__thumbnail"  alt="thumbnail" />

                                <div style="color: white; position: absolute; left:5px; bottom: 53%; font-size: 2.5ex; font-weight: bold;">[[${course.CATEGORY_NAME}]] </div>
								

                                <div class="card-body">
                                    <h5 class="card-title lecture__title iine-clamp">
                                        [[${course.TITLE}]]
                                    </h5>
                                    <p class="card-text iine-clamp iine-clamp--4 lecture__text d-flex flex-columns justify-space-between">
											[[${course.SHORT_DESCRIPTION}]] 
                                   </p>
                                    <div class="align-items-end row">
                                        <div class="col-6 lecture__period">
                                            <i class="far fa-clock"></i> [[${course.PERIOD}]]
                                        </div>
                                        <div class="col-6 text-center lecture__level">
                                            [[${course.DIFFICULTY}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                
                
            </ul>
        </div>
    </section>
    <!-- lecture 끝 -->
    <script>
  
    
   </script>

    <!-- footer -->
    <div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>
</body>

</html>