<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 게시판</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>

<body style="background-color: #1e1e1e;">
   	<!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>
	
    <!-- 메인 섹션 시작 -->
    <section class="dashboard">
        <div class="container-fluid container--main">
            <div class="dashboard__common">
                <div class="common__left">
                    <input id="userImage" type="file" accept="image/*" name="file" style="display: none;" />
                    <label class="position-relative rounded-circle" for="userImage">
                        <img th:src="@{/images/image4.jpg}" alt="프로필 이미지" />
                        <i class="fa fa-plus-circle"></i>
                    </label>
                </div>
                <h1 class="common__middle">신중한라이언I45</h1>
                <div class="common__vertical"></div>
                <div class="common__right row m-0">
                    <div class="right__box col-6">
                        <h4>수강 중인 코스</h4>
                        <span>1</span>
                    </div>
                    <div class="right__box col-6">
                        <h4>수강 만료 코스</h4>
                        <span>1</span>
                    </div>
                    <div class="right__box col-6">
                        <h4>나의 질문</h4>
                        <span>2</span>
                    </div>
                    <div class="right__box col-6">
                        <h4>나의 답변</h4>
                        <span>0</span>
                    </div>
                </div>
            </div>
            <nav class="dashboard__tab">
                <div class="nav nav-tabs" id="nav-tab">
                    <a class="nav-link tab__link active" th:href="@{/personal/dashboard}"href="/dashboard.html">나의
                        대시보드</a>
                    <a class="nav-link tab__link" th:href="@{/personal/profile}">나의
                        프로필</a>
                    <a class="nav-link tab__link" th:href="@{/personal/qAndA/questions?page=1}">나의
                        질문답변</a>
                </div>
            </nav>
        </div>

        <!-- 나의 대시보드 시작 -->
        <div class="tab-content tab__page" id="nav-tabContent">
            <div class="container-fluid container--main">
                <div class="tab-pane fade show active tab__content" id="nav-home">
                    <ul class="nav nav-pills mb-3 row" id="pills-tab">
                        <li class="nav-item tab__menu col-6 p-0">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-lecture">수강
                                중</a>
                            <i class="fas fa-circle"></i>
                        </li>
                        <li class="nav-item tab__menu col-6 p-0">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-lecture-over">수강
                                만료</a>
                            <i class="fas fa-circle"></i>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active row m-0 d-flex justify-content-between"
                            id="pills-lecture">
                            <div class="dashboard__card col-sm-6">
                                <div class="card__header">
                                    <div class="header__left">
                                        <img th:src="@{/images/image4.jpg}" />
                                        <div class="header__info">
                                            <span>ETC</span>
                                            <h4>Try Your CODE LION!</h4>
                                        </div>
                                    </div>
                                    <div class="header__right">
                                        <a th:href="@{/class/SANIOQWENIWN}"><i class="fa fa-play-circle"></i></a>
                                    </div>
                                </div>
                                <p>코드라이언 코스 100% 활용하기</p>
                                <div class="dashboard__progress">
                                    <span>100%</span>
                                    <div class="progress lecture__progress">
                                        <div class="progress-bar progress__bar bg-success" role="progressbar"
                                            style="width: 100%"></div>
                                    </div>
                                </div>
                                <div class="dashboard__footer">
                                    <h4>코드라이언</h4>
                                    <span>2021.05.30~2021.06.12</span>
                                </div>
                            </div>
                            <div class="dashboard__card col-sm-6">
                                <div class="card__header">
                                    <div class="header__left">
                                        <img th:src="@{/images/image4.jpg}" />
                                        <div class="header__info">
                                            <span>ETC</span>
                                            <h4>Try Your CODE LION!</h4>
                                        </div>
                                    </div>
                                    <div class="header__right">
                                        <a th:href="@{/class/SANIOQWENIWN}"><i class="fa fa-play-circle"></i></a>
                                    </div>
                                </div>
                                <p>코드라이언 코스 100% 활용하기</p>
                                <div class="dashboard__progress">
                                    <span>100%</span>
                                    <div class="progress lecture__progress">
                                        <div class="progress-bar progress__bar bg-success" role="progressbar"
                                            style="width: 100%"></div>
                                    </div>
                                </div>
                                <div class="dashboard__footer">
                                    <h4>코드라이언</h4>
                                    <span>2021.05.30~2021.06.12</span>
                                </div>
                            </div>
                            <div class="dashboard__card col-sm-6">
                                <div class="card__header">
                                    <div class="header__left">
                                        <img th:src="@{/images/image4.jpg}" />
                                        <div class="header__info">
                                            <span>ETC</span>
                                            <h4>Try Your CODE LION!</h4>
                                        </div>
                                    </div>
                                    <div class="header__right">
                                        <a th:href="@{/class/SANIOQWENIWN}"><i class="fa fa-play-circle"></i></a>
                                    </div>
                                </div>
                                <p>코드라이언 코스 100% 활용하기</p>
                                <div class="dashboard__progress">
                                    <span>100%</span>
                                    <div class="progress lecture__progress">
                                        <div class="progress-bar progress__bar bg-success" role="progressbar"
                                            style="width: 100%"></div>
                                    </div>
                                </div>
                                <div class="dashboard__footer">
                                    <h4>코드라이언</h4>
                                    <span>2021.05.30~2021.06.12</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade d-flex justify-content-center" id="pills-lecture-over">
                            <div class="notExist">
                                <div class="notExist__inner">
                                    <div class="inner__upper">
                                        <p>수강만료된 강의가 없습니다.<br />
                                            오늘부터 학습을 시작해보세요!</p>
                                    </div>
                                    <div class="inner__lower">
                                        <a th:href="@{/catalog}">
                                            <i class="fas fa-angle-double-right"></i>
                                            <span>&nbsp;강의 둘러보기&nbsp;</span>
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 나의 대시보드 끝 -->	
    </section>
    <!-- 메인 섹션 끝 -->

    <!-- footer -->
    <div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>
</body>

</html>