<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 결제</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
  	
</head>

<body>
   	<!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>

    <section class="payment">
        <div class="container-fluid container--main">
            <div class="payment__title">결제하기</div>
            <div class="payment__subTitle">결제내역</div>
            <div class="payment__package">
                <img th:if="${course.THUMBNAIL} != null" class="package__img" th:src="@{${course.THUMB_PATH}}" />
                <img th:if="${course.THUMBNAIL} == null" class="package__img" th:src="@{/images/image4.jpg}" />
                <div class="package__info">
                    <div class="info__left">
                        <div class="info__title" th:text="${course.TITLE}"></div>
                        <div class="info__category">[[${course.CAT_NAME}]]</div>
                    </div>
                    <ul class="info__right">
                        <li>
                            <span>강사</span>
                            <b>[[${course.ADM_NAME}]]</b>
                        </li>
                        <li>
                            <span>수강기간</span>
                            <b>[[${course.PERIOD}]]</b>
                        </li>
                    </ul>
                </div>
                <div class="package__brand">CODE</div>
            </div>
            <form class="row payment__info">
                <div class="col-sm-12 col-lg-6 payment__left">
                    <div class="payment__subTitle">구매자 정보</div>
                    <div class="form-group form__group p-0 position-relative">
                        <div class="p-0">
                            <input type="email" autocomplete="off" readonly
                                class="form-control form__input input__payment" name="email" th:value="${course.EMAIL}" />
                        </div>
	                    <!-- 에러 출력용 -->
	                    <small class="error"></small>
                    </div>
                    <div class="form-group form__group p-0 position-relative">
                        <div class="p-0">
                            <input type="text" autocomplete="off"
                                class="form-control form__input input__payment input__payment--border"
                                placeholder="실명을 입력해주세요" name="name" id="name"/>
                        </div>
	                    <!-- 에러 출력용 -->
	                    <label></label>
                    </div>
                    <div class="form-group form__group p-0 position-relative">
                        <div class="p-0">
                            <input type="text" autocomplete="off"
                                class="form-control form__input input__payment input__payment--border"
                                placeholder="핸드폰 번호를 입력해주세요" name="phone" id="phone"/>
                        </div>
                        <label style="color:#fff;">결제 및 환불 정보 전달을 위해 휴대폰 번호 11자리(하이픈 제외)를 입력해주세요.</label>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6 payment__right">
                    <div class="payment__subTitle">결제 수단</div>
                    <div class="form-group form__group p-0 position-relative">
                        <div class="form-group form__group row m-0">
                            <div class="payment__method col-4">
                                <div class="form__check">
                                    <input type="radio" id="creditcard" name="method" checked />
                                    <label title for="creditcard" class="check__label">신용카드</label>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                    <div class="payment__notice">
                        <p>실사용 도중 해지하는 경우 남은 기간에 대한 금액은 환불 정책에 따라 달라질 수 있습니다.</p>
                    </div>
                    <div class="payment__price">
                        <div class="payment__subTitle">결제 정보</div>
                        <div class="price__box">
                            <div class="price__left">정가</div>
                            <div class="price__right">[[${course.PRICE}]]&nbsp;<span>원</span></div>
                        </div>
                        <div class="price__box">
                            <div class="price__left">할인가(일반)</div>
                            <div class="price__right">-0<span class="price__discount">(0%)</span>&nbsp;<span>원</span>
                            </div>
                        </div>
                        <div class="payment__divider"></div>
                        <div class="price__box">
                            <div class="price__left">결제 금액</div>
                            <div class="price__right"><span class="text__color--green">[[${course.PRICE}]]</span>&nbsp;<span>원</span>
                            </div>
                        </div>
                        <div class="form__check">
                            <input class="input__label" type="checkbox" id="terms1" name="method1" />
                            <label title for="terms1" class="check__label">
                            <a href="javascript:void(0)">결제 및 환불 규정</a>에 동의합니다 (필수)</label>
                        </div>
                        <div class="form__check">
                            <input class="input__label" type="checkbox" id="terms2" name="method2" />
                            <label title for="terms2" class="check__label">구매조건 확인 및 
                            <a href="javascript:void(0)">개인정보처리약관</a>에 동의합니다 (필수)</label>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="button button--rounded button--full"
                        style="color: #0fd; margin-top: 60px" id="check_module">
                        결제하기
                    </a>
                </div>
        </div>
        


    </section>
	
    <!-- footer -->
    <div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>
</body>
<script>
		$("#check_module").click(function(){
			var price = Number.parseInt("[[${course.PRICE}]]");
			var name = $("#name").val();
			var phone = $("#phone").val();
			var checkval = $("input[name=method1]");
			var checkval2 = $("input[name=method2]");
			var courseId = ("[[${course.COURSE_ID}]]");
		
			
			console.log(checkval)
			if(name == ""){
				alert("이름을 입력하세요");
				$("#name").focus();
				return false;
			}
			if(phone == ""){
				alert("휴대폰 번호를 입력하세요");
				$("#phone").focus();
				return false;
			}
			if($(checkval).is(":checked") == false){
              alert(" 결제 및 환불 규정을 체크해주세요");
              return false;
            }
            else if($(checkval2).is(":checked") == false){
              alert(" 개인정보처리약관을 체크해주세요");
              return false;
            }
            
            $.post({
                url: "/payments/check", //cross-domain error가 발생하지 않도록 주의해주세요
                data: {
					courseId: courseId,
                    //기타 필요한 데이터가 있으면 추가 전달
                },
                success: function(data) {
					if (data == "-1" ) {
						msg = '이미 결제한 강의입니다.';
						alert(msg);
						//실패시 이동할 페이지
						location.href="/personal/dashboard";
					}
				}
			});
			
			var IMP = window.IMP; // 생략가능
			var msg;
			IMP.init('imp73533171');
			
			// 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
			IMP.request_pay({
				pg: 'inicis', // version 1.1.0부터 지원.
				pay_method: 'card',
				merchant_uid: 'merchant_' + new Date().getTime(),
				
				name: "[[${course.TITLE}]]",
				courseId: courseId,
				//결제창에서 보여질 이름
				amount: price,
				buyer_email: 'iamport@siot.do',
				buyer_name: name,
				buyer_tel: phone,
				buyer_addr: '경기도 화성시 병점동',
				buyer_postcode: '123-456',
				m_redirect_url: 'https://www.yourdomain.com/payments/complete'
				
			}, function (rsp) {
				var payment_code;
				if ( rsp.success ) {
					payment_code = rsp.imp_uid;
                //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                var imp_uid = rsp.imp_uid;
                $.post({
                    url: "/payments/complete", //cross-domain error가 발생하지 않도록 주의해주세요
                    data: {
						courseId: courseId,
                        imp_uid : rsp.imp_uid,
                        price: price,
                        phone_number: phone,
                        name: name
                        
                        //기타 필요한 데이터가 있으면 추가 전달
                    },
                    success: (function(data) {
						if (data == "1") {
							msg = '결제가 완료되었습니다.';
							alert(msg);
							//성공시 이동할 페이지
		                	location.href="/orders/complete/"+"[[${course.COURSE_ID}]]"+"?payment_gid=" + imp_uid;						
						} else {
							msg = '결제에 실패하였습니다.';
							alert(msg);
							//실패시 이동할 페이지
							location.href="/orders/payments/"+"[[${course.COURSE_ID}]]";
						}
					})
                });
				//성공시 이동할 페이지
	            // location.href="/orders/complete/"+"[[${course.COURSE_ID}]]"+"?payment_gid=" + imp_uid;
			
			} else {
				msg = '결제에 실패하였습니다. ';
				msg += rsp.error_msg;
				alert(msg);
				//실패시 이동할 페이지
				location.href="/orders/payments/" + "[[${course.COURSE_ID}]]";
			}
		});
	});
		
</script>
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<!-- iamport.payment.js -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

</html>
