<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 임시 비밀번호</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</head>
	<script>
	/*var email=$("#email").val();
		$("#btn").click(fucntion(){
			url:
			
		});*/
	
	</script>
<body>
    <!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>

    <!-- 비밀번호 발급 섹션 시작 -->
    <section class="signin">
        <div class="container-fluid signin__container">
            <h2 class="signin__title">비밀번호 찾기</h2>
            <form class="row">
                <div class="form-group form__group position-relative">
                    <div class="col-sm-12 p-0">
                        <input type="email" maxlength="60" class="form-control form__input" placeholder="이메일을 입력해주세요."
                            name="email" id="email" />
                    </div>
                    <!-- <small>에러 메세지</small> -->
                </div>

                <button class="button button--rounded button--full" style="color: #0fd; margin-top: 60px" type="submit" id="btn">
                    임시 비밀번호 발급
                </button>
            </form>
            <a class="signin__toSignup" th:href="@{/auth/signup}">아직 코드라이언 회원이 아니신가요?&nbsp;<span>회원가입하기</span></a>
        </div>
    </section>
    <!-- 비밀번호 발급 섹션 끝 -->

    <!-- footer -->
    <div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>
</body>

</html>