<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>바삭 코딩 | 임시 비밀번호</title>
   <link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
   <link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
   <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
     <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
</head>

  <script>
    
     var sendPhone= function(){
         
      if(!CheckForm()) return false;      
      var phoneNumber= $('#txtMobile1').val()+$('#txtMobile2').val()+$('#txtMobile3').val();
      console.log(phoneNumber);
         
            alert('인증번호 발송 완료!')
            $.ajax({
                type: "post",
                url: "[[@{/auth/check/sendSMS}]]",
                data: {
                    "phoneNumber" : phoneNumber
                },
                success: function(res){
                    $('#checkBtn').click(function(){//버튼 클릭시 첫 한번만 실행 여러번 눌러도 첫시행만함
                        if($.trim(res) ==$('#inputCertifiedNumber').val()){
                           alert(
                                '인증성공 입니다.'                       
                            )
                            //sms인증 성공했으니 sms validate=true
                               affected=true;
                               
                                $("#email").css("display","block")
                        
                            }                             
                            else{
                           alert('인증번호가 올바르지 않습니다!');                           
                           }
                       })
                      }
                  })
              };
           
            
        //sms인증 안하고 submit할 때 유효성검사
        var affected=false;
       var affected2=false;
        function validateAll(){
      if(affected==false) alert("SMS인증 후 이용 해주세요.");
         else if($('#email').val()!="")affected2=true;
         else alert("이메일을 입력해 주세요");   
         return affected2;
        }

    // 숫자만 입력받게 하는 방법
    function onlyNumber() {
        if ((event.keyCode < 48) || (event.keyCode > 57))
            event.returnValue = false;
    }
    function f(){
   if($('#email').val()="") alert('이메일을 입력해주세요.'); 
   }
    //휴대폰 유효성
    function CheckForm() {
        if (document.getElementById("txtMobile1").value == "") {
            window.alert("휴대폰 번호를 선택하시오.");
            return false;
        }
        if (document.getElementById("txtMobile2").value.length != 4) {
            window.alert("가운데 번호는 4자리로 입력하세요");
            return false;
        }
        else if (document.getElementById("txtMobile3").value.length != 4) {
            window.alert("끝 번호는 4자리로 입력하세요");
            return false;
        }
        return true
    }

</script>



<body>
    <!-- Navbar -->
   <div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>

    <!-- 비밀번호 발급 섹션 시작 -->
    <section class="signin">
        <div class="container-fluid signin__container">
            <h2 class="signin__title">임시 비밀번호 발급</h2>
            
			
            <form class="row" th:action=@{/auth/getresetpassword} method="POST" id="frm" onsubmit="return validateAll()" >
               <div th:if="${message != null}" class="col-12 alert alert-danger w-100 text-center" style="font-size:1.6rem">
					[[${message}]]
				</div>
				<div class="form-group form__group position-relative">
                    <div class="col-sm-12 p-0">
                        
                           
                      <h3 class="text--phone" >인증을 위해서 휴대폰 번호를 입력해주세요!</h3>
				<div style="margin-bottom:2rem;">
                    <select class="select--phone" id="txtMobile1">
                      <option value="">::선택::</option>
                      <option value="010">010</option>
                      <option value="011">011</option>
                      <option value="016">016</option>
                      <option value="017">017</option>
                      <option value="019">019</option>
                      
               </select>
               		 <span style="color: #0fd; font-size: 3rem">-</span>        
                     <input class="input--phone" type="text" id="txtMobile2" maxlength="4" onkeypress="onlyNumber();" />
                     <span style="color: #0fd; font-size: 3rem">-</span>
                     <input class="input--phone" type="text" id="txtMobile3" maxlength="4" onkeypress="onlyNumber();" >
                
                     <input class="button--phone" type="button" value="인증번호 요청하기"  onclick="sendPhone();"/>
                 </div>
                 <div style="margin-bottom:2rem;">
                     <input type="text" maxlength="4" class="confirm--phone" placeholder="인증번호를 입력해주세요." id="inputCertifiedNumber"/>
                     <input class="button--phone" type="button" value="인증번호 확인" id="checkBtn" />
				</div>
                         
                            
                           <!-- <input maxlength="60" class="phone-control phone__input" placeholder="인증 번호를 입력해주세요."
                            name="email" id="email" /> -->
                    </div>
                    <!-- <small>에러 메세지</small> -->
                    <div>
                    <input type="email" maxlength="60" class="form-control form__input" placeholder="이메일을 입력해주세요." style="margin-bottom: 50px; display:none;"
                            name="email" id="email"/>
                     </div>
                </div>
                <button class="button button--rounded button--full button--margin" style="color: #0fd;" type="submit" id="btn" >
                    임시 비밀번호 발급
                </button>           
            </form>
            <a class="signin__toSignup" th:href="@{/auth/signup}">아직 코드라이언 회원이 아니신가요?&nbsp;<span>회원가입하기</span></a>
        </div>
    </section>
    <!-- 비밀번호 발급 섹션 끝 -->

    <!-- footer -->
    <div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>

   

</body>

</html>