<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>바삭 코딩 | 로그인</title>
	<link rel="stylesheet" th:href="@{/fontawesome/all.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/frontend/main.css}" />
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
  	<script th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
  	<script>
  	
  		$(function(){
			$.validator.setDefaults({
			    onkeyup:false,
		    	onclick:false,
			    onfocusout:false,
			});
			
			$("#frm").validate({
				rules:{
					email:{required:true,email:true},
					password:{required:true,minlength:4}
				},
				messages:{
					email:{required:"아이디를 입력해주세요",email:"이메일 형식으로 입력해주세요"},
					password:{required:"비밀번호를 입력해주세요",minlength:"4자 이상"}
				}
			});
			
		});
  	</script>

</head>

<script>
	$(document).ready(function () {
		if ('[[${passedit}]]' != "") {
			alert("비밀번호가 변경되었습니다 새로운 비밀번호로 로그인해주세요");
		}
	});
</script>

<body>
	<!-- Navbar -->
	<div th:replace="/frontend/fragments/nav.html :: fragment-nav"></div>

    <!-- 로그인 시작 -->
    <section class="signin">
        <div class="container-fluid signin__container">
            <h2 class="signin__title">로그인</h2>
            <form id="frm" class="row" method="POST" th:action="@{/auth/signin}">
                <div class="form-group form__group p-0 position-relative">
                    <div class="p-0">
                        <input type="email" class="form-control form__input" placeholder="이메일을 입력해주세요." name="email" th:value="${param.email}"/>
                    </div>
                    <!-- 에러 출력용 -->
                    <label class="error"></label>
                </div>
                <div class="form-group form__group pb-3 position-relative">
                    <div class="p-0">
                        <input type="password" class="form-control form__input" placeholder="비밀번호를 입력해주세요."
                            name="password" />
                    </div>
                    <!-- 에러 출력용 -->
                    <label class="error"><span th:if="${param.error}!=null">아이디와 비밀번호가 일치하지않습니다</span></label>
                </div>
                <h5 class="signin__link">
                    <span class="d-block">비밀번호를 잊으셨나요?</span><a th:href="@{/auth/reset-pass}">비밀번호 찾기</a>
                </h5>
                <button type="submit" class="button button--rounded button--full" style="color: #0fd; margin-top: 60px">
                    로그인하기
                </button>
            </form>
            <a class="signin__toSignup" th:href="@{/auth/signup}">아직 코드라이언 회원이 아니신가요?&nbsp;<span>회원가입하기</span></a>
        </div>
    </section>
	<!-- footer -->
	<div th:replace="/frontend/fragments/footer.html :: fragment-footer"></div>
</body>

</html>